@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="userInfoForm">

			<input type="hidden" id="id" value="${user.id}">

			<div class="row">
				<div class="col-sm-6 b-r">
					<#input id="" name="当前余额" underline="true" value="${user.balance}" disabled="disabled"/>
					<#input id="balance"  name="充值金额" underline="true" value="0" />
				</div>

			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoDlg.balanceSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserInfoDlg.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/system/user/user_info.js"></script>
<script>

</script>
@}
